# Logs
logs
*.log
npm-debug.log*
.env

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

/dist/
!/output/.gitkeep
/output/*
/data/*.csv

*.csv
*.cache.json

/src/config/config.json
/src/config/all.json
